a.skip-main {
   left: -999px;
   position: fixed;
   top: auto;
   width: 1px;
   height: 1px;
   overflow: hidden;
   z-index: -999;
   &:focus-visible,
   &:active {
      color: var(--bg);
      font-size: var(--font-sm);
      background-color: var(--cw);
      left: auto;
      top: auto;
      width: auto;
      height: auto;
      overflow: auto;
      /* margin: 10px 35%; */
      padding: 10px 14px;
      border-radius: 1px 1px 5px 6px;
      border: 1px solid #5d68ca;
      text-align: center;
      font-size: 1.2em;
      font-weight: 500;
      z-index: 9999999;
   }
}
