.section__wrapper {
   // height: 100vh;
   // background-color: rgba(255, 255, 255, 0.01);

   .pageName {
      position: fixed;
      left: -4rem;
      font-family: 'Abril FatFace';
      font-size: 29.42vmin;
      letter-spacing: -0.3rem;
      white-space: pre;
      font-weight: 900;
      color: $color-10;
      writing-mode: unset;
      text-rendering: geometricPrecision;
      transition: all 0.8s ease 0s;
      z-index: -1;
      bottom: -2rem;
      &.somePages {
         writing-mode: tb-rl;
         bottom: 0px;
      }
   }
}
