.fullscreen-modal {
   position: fixed;
   z-index: 1250;
   bottom: 0;
   right: 0;
   left: 0;
   top: 0;

   .back-drop {
      // backdrop-filter: blur(15px);
      // background: rgba(0, 0, 0, 0.8);
      background: rgba(7, 30, 34, 0.2);
      position: absolute;
      z-index: -1;
      bottom: 0;
      right: 0;
      left: 0;
      top: 0;
   }

   .content {
      color: $white;
      height: fit-content;
      max-height: 90vh;
      width: fit-content;
      // max-width: 90vw;
      z-index: 501;
      .closeIcon {
         top: -2.2rem;
         right: -2.2rem;
         z-index: 200;
         background-color: $white;
         cursor: pointer;
         color: $white;
         scale: 0.65;
         border-radius: 50%;
      }
      overflow: hidden;
      overflow-y: scroll;
      // background-color: #212121;
      border-radius: 15px;

      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: 4px; /* Firefox */
      &::-webkit-scrollbar {
         width: 6px;
      }
      &::-webkit-scrollbar-track {
         background: transparent;
      }
      &::-webkit-scrollbar-thumb {
         background-color: #ffffff98;
         border-radius: 10px;
      }
   }
}
