$trans: 0.3s ease-in;
$trans1: 0.3s ease-in;

$white: #ffffff;
$black: #000000;

// $color-1: #0b0c10;
// $color-1a: #0b0c1098;
// $color-11: #060709;
// $color-2: #1f2833;
// $color-3: #c5c6c7;
// $color-4: #66fcf1;
// $color-4a: #66fcf198;
// $color-5: #45a29e;
// $color-5a: #45a29e98;
// $color-6: rgba(255, 255, 255, 0.1);
// $color-7: rgba(9, 20, 40, 0.74);
// $color-8: rgba(9, 20, 40, 1);
// $color-9: #020a13;
// $color-10: #080f18;
// $color-12: #e1e1e1;
// $color-13: #c6c6c6;

@keyframes fadeIn {
   from {
      opacity: 0;
      margin-top: 20px;
   }

   to {
      opacity: 1;
      margin-top: 0;
   }
}

$fade1: fadeIn 0.25s ease-in;

$box-shadow: 0px 16px 32px rgba(189, 189, 189, 0.15);
$box-shadow2: 0px 16px 32px rgba(189, 189, 189, 0.25);
$box-shadow3: 0px 2px 58px rgba(var(--color-4), 0.08);
$box-shadow-inset: inset 0px 2px 18px rgba(var(--color-4), 0.1);

:root {
   --color-1: #0b0c10;
   --color-1a: #0b0c1098;
   --color-11: #060709;
   --color-2: #1f2833;
   --color-3: #c5c6c7;
   --color-4: #66fcf1;
   --color-4a: #66fcf198;
   --color-5: #45a29e;
   --color-5a: #45a29e98;
   --color-6: rgba(255, 255, 255, 0.1);
   --color-7: rgba(9, 20, 40, 0.74);
   --color-8: rgba(9, 20, 40, 1);
   --color-9: #020a13;
   --color-10: #080f18;
   --color-12: #1d1d1d;
   --color-13: #c6c6c6;

   --theme-amount: 1;
}

@media (prefers-color-scheme: dark) {
   :root {
      --color-1: #0b0c10;
      --color-1a: #0b0c1098;
      --color-11: #060709;
      --color-2: #1f2833;
      --color-3: #c5c6c7;
      --color-4: #66fcf1;
      --color-4a: #66fcf198;
      --color-5: #45a29e;
      --color-5a: #45a29e98;
      --color-6: rgba(255, 255, 255, 0.1);
      --color-7: rgba(9, 20, 40, 0.74);
      --color-8: rgba(9, 20, 40, 1);
      --color-9: #020a13;
      --color-10: #080f18;
      --color-12: #e1e1e1;
      --color-13: #c6c6c6;

      --theme-amount: 0;
   }
}

// body {
//    color: rgb(var(--foreground-rgb));
//    background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
// }

@media (prefers-color-scheme: dark) {
   html {
      color-scheme: dark;
   }
}
