footer {
   p {
      color: $color-13;
      transition: $trans;
      &:hover {
         text-decoration: underline;
      }
      svg {
         margin-left: 1rem;
         animation: forward 0.5s infinite alternate;
         // animation: name animation-duration timing-function delay iteration-count direction fill-mode;
      }
   }
   .social__handles {
      a {
         svg {
            height: 15px;
            fill: $color-13;
            transition: all 1s ease 0s;
            cursor: pointer;
         }
         &:hover svg {
            fill: $color-4;
         }
      }
   }
}

@keyframes forward {
   from {
      margin-left: 1rem;
   }
   to {
      margin-left: 2rem;
   }
}
