.section__title {
   p {
      color: #848d97;
      font-weight: 700;
      font-size: 0.875rem;
      text-transform: uppercase;
   }
   h2 {
      font-weight: 700;
      font-size: 3rem;
      color: #d7d7d7;
      text-transform: capitalize;
   }
   @media (max-width: 575px) {
      h2 {
         font-size: 2rem;
      }
   }
}
