.PageLayout {
   position: fixed;
   z-index: 1250;
   bottom: 0;
   right: 0;
   left: 0;
   top: 0;
   // overflow-y: scroll;
   overflow: hidden;

   &::-webkit-scrollbar {
      width: 8px; /* Safari and Chrome */
      height: 0; /* Safari and Chrome */
   }
   &::-webkit-scrollbar-track {
      background: transparent;
   }
   &::-webkit-scrollbar-thumb {
      position: absolute;
      background-color: $color-6;
      border-radius: 8px;
   }

   .PageLayout__Backdrop {
      background: $color-9;
      backdrop-filter: blur(15px);
      position: absolute;
      z-index: -1;
      bottom: 0;
      right: 0;
      left: 0;
      top: 0;
   }

   .mouse__handle {
      --size: 65px;
      position: absolute;
      height: var(--size);
      width: var(--size);
      border: 1px solid #d6d6d6;
      border-radius: 50%;
      pointer-events: none;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 100;
      display: flex;
      align-items: center;
      justify-content: center;
      transition:
         0.2s ease-out,
         transform 0.5s ease-out;
      box-shadow: inset 0 0 0px 0.5px #f5f5f5;
      // animation: mouseAnimation .5s infinite alternate;
      &::after {
         --siz: 20px;
         content: '';
         position: absolute;
         height: var(--siz);
         width: var(--siz);
         border: 7px solid #d6d6d6;
         border-radius: 50%;
         opacity: 0.5;
         box-shadow: inset 0 0 0px 0.5px #f5f5f5;
         animation: mouseAnimation2 0.5s infinite alternate;
      }
      &.expand {
         animation: mouseAnimation3 0.5s forwards;
         border: 1px solid red;
         display: flex;
         align-items: center;
         justify-content: center;
      }
   }

   .PageLayout__Contents {
      animation: $fade1;
      width: 100%;
      height: 100%;
      margin-bottom: 10rem;
      position: relative;
   }

   .pageName {
      position: fixed;
      left: -4rem;
      font-family: 'Abril FatFace';
      font-size: 29.42vmin;
      letter-spacing: -0.3rem;
      white-space: pre;
      font-weight: 900;
      color: $color-10;
      writing-mode: unset;
      text-rendering: geometricPrecision;
      transition: all 0.8s ease 0s;
      z-index: -1;
      bottom: -2rem;
      &.somePages {
         writing-mode: tb-rl;
         bottom: 0px;
      }
   }
}

@keyframes mouseAnimation {
   from {
      transform: scale(1);
   }
   to {
      transform: scale(0.7);
   }
}

@keyframes mouseAnimation2 {
   from {
      transform: scale(1);
   }
   to {
      transform: scale(0.4);
   }
}

@keyframes mouseAnimation3 {
   0% {
      transform: scale(1);
   }
   50% {
      transform: scale(3);
   }
   100% {
      transform: scale(1);
      opacity: 0;
   }
}
