.projects__section {
   .projectCard {
      --height: 100%;
      width: 100%;
      position: relative;
      aspect-ratio: 16 / 11;
      background-color: #000000;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      border-radius: 7px;

      .img_wrapper {
         height: var(--height);
         position: absolute;
         width: 100%;
         top: 0;
         left: 0;
         // iframe {
         // }
      }

      .details {
         opacity: 0;
         transform: translateY(10%);
         transition:
            opacity 300ms ease-in-out 0s,
            transform 300ms ease-in-out 0s;

         .project__title {
            font-size: 1.25rem;
            font-weight: 900;
            text-transform: capitalize;
         }
         .project__description {
            font-size: 0.9rem;
            color: fade-out($white, 0.5);
         }
         .techs__used {
            position: relative;
            .stack {
               font-size: 0.6rem;
               font-weight: 700;
               color: $white;
               border-radius: 4px;
               border: 1px solid fade-out($white, 0.5);
               box-shadow: $box-shadow-inset;
               text-transform: uppercase;
               padding: 0.3rem 0.6rem;
               white-space: nowrap;
            }
         }
      }

      &::after {
         content: '';
         pointer-events: none;
         position: absolute;
         z-index: 1;
         top: 0px;
         right: 0px;
         bottom: 0px;
         left: 0px;
         opacity: 0.3;
         /* background: linear-gradient(
            191deg,
            rgba(0, 0, 0, 0.1) 20%,
            rgba(0, 0, 0, 0.76) 100%
         ); */
         background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 10%, rgb(0 0 0 / 78%) 80%);
      }

      &:hover,
      &:focus {
         cursor: none;
         &::after {
            opacity: 1;
         }
         .details {
            z-index: 999;
            transform: translateY(0%);
            opacity: 1;
         }
      }

      @media (max-width: 991px) {
         &:after {
            opacity: 1 !important;
         }
         .details {
            z-index: 999 !important;
            transform: none !important;
            opacity: 1 !important;
         }
      }
   }
}
