.projects__section {
   .bg__layer {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      top: 7%;
      right: 5%;
      // background-color: #161b22;
      box-shadow: $box-shadow-inset;
   }
   
   .projectCard + .bg__layer {
      right: 20%;
      background-color: red;
   }

   .projectCard {
      --height: 100%;
      width: 100%;
      position: relative;
      aspect-ratio: 16 / 11;
      background-color: #000000;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      .img_wrapper {
         height: var(--height);
         position: absolute;
         width: 100%;
         top: 0;
         left: 0;
      }

      .details {
         opacity: 0;
         transform: translateY(10%);
         transition: opacity 300ms ease-in-out 0s, transform 300ms ease-in-out 0s;

         .project__title {
            font-size: 1.25rem;
            font-weight: 900;
            text-transform: capitalize;
         }
         .project__description {
            font-size: 1rem;
            color: fade-out($white, .5);
         }
         .techs__used {
            position: relative;
            .stack {
               font-size: 0.7rem;
               font-weight: 700;
               color: $white;
               border-radius: 2px;
               border: 1px solid fade-out($white, .5);
               box-shadow: $box-shadow-inset;
               text-transform: uppercase;
               padding: 0.3rem 0.7rem;
            }
         }
      }

      &::after {
         content: '';
         pointer-events: none;
         position: absolute;
         z-index: 1;
         top: 0px;
         right: 0px;
         bottom: 0px;
         left: 0px;
         opacity: 0.3;
         /* background: linear-gradient(
            191deg,
            rgba(0, 0, 0, 0.1) 20%,
            rgba(0, 0, 0, 0.76) 100%
         ); */
         background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.1) 10%,
            rgb(0 0 0 / 78%) 80%
         );
      }

      &:hover,
      &:focus {
         cursor: none;
         &::after {
            opacity: 1;
         }
         .details {
            z-index: 999;
            transform: translateY(0%);
            opacity: 1;
         }
      }
   }
}
