.hexagon {
   position: absolute;
   height: 100vh;
   // height: 100%;
   overflow: hidden;
   left: 0;
   top: 0;
   background: #000;
   z-index: -1;
   .cursor {
      position: absolute;
      width: 350px;
      height: 350px;
      border-radius: 50%;
      animation: anim 2s linear infinite;
      visibility: hidden;
      transition: 0.1s;
      cursor: auto;
      transform: translate(-50%, -50%);
   }
   .hexagon__row {
      display: inline-flex;
      margin-top: -32px;
      margin-left: -50px;
      &:nth-child(even) {
         margin-left: 1px;
      }
      .hexagon__grid {
         position: relative;
         width: 100px;
         height: 110px;
         margin: 1px;
         transition: 0.3s ease-in;
         clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
         background: linear-gradient(90deg, $color-1 40%, $color-11 60%);
         &:hover {
            transition: 0s;
         }
      }
   }
}

@keyframes anim {
   0% {
      filter: hue-rotate(0deg);
   }
   100% {
      filter: hue-rotate(360deg);
   }
}

// body:hover .cursor {
//    background: radial-gradient(circle, $color-4 23%, $color-1 100%);
//    visibility: visible;
//    filter: blur(20px);
// }
