nav {
   width: 100%;
   z-index: 1260;
   height: 9.8rem;
   &.active {
      // backdrop-filter: blur(15px);
      visibility: visible;
      transition: 0.3s ease-in;
   }
   &.hidden {
      visibility: hidden;
      transition: 0.2s ease-out;
      transform: translateY(-100%);
   }
   .logo {
      font-weight: 700;
      font-size: 3rem;
      color: $color-12;
      font-family: 'Abril FatFace';
   }
   .nav__list {
      overflow: hidden;
      li {
         a {
            font-size: 1rem;
            color: $color-12;
            border-radius: 4px;
            transition: $trans;
            cursor: pointer;
            position: relative;
            text-transform: capitalize;
            &:hover,
            &.active {
               color: $color-4;
            }
         }
      }
   }
   .action__button {
      border-radius: 4px;
      padding: 0.4rem 1.2rem;
      color: $color-12;
      border: 1px solid $color-12;
      transition: color 0.2s ease-in;
      &:hover {
         color: $color-5;
         border: 1px solid $color-5;
      }
   }
}
